<a href="https://colab.research.google.com/github/shanksghub/House-prices-ipynb/blob/master/House%20price%20IOWA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

# Path of the file to read
url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'
# Fill in the line below to read the file into a variable home_data
home_data = pd.read_csv(url)

In [188]:

home_data.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [189]:
home_data.describe()

                Id   MSSubClass  ...       YrSold      SalePrice
count  1460.000000  1460.000000  ...  1460.000000    1460.000000
mean    730.500000    56.897260  ...  2007.815753  180921.195890
std     421.610009    42.300571  ...     1.328095   79442.502883
min       1.000000    20.000000  ...  2006.000000   34900.000000
25%     365.750000    20.000000  ...  2007.000000  129975.000000
50%     730.500000    50.000000  ...  2008.000000  163000.000000
75%    1095.250000    70.000000  ...  2009.000000  214000.000000
max    1460.000000   190.000000  ...  2010.000000  755000.000000

[8 rows x 38 columns]

In [190]:
print(home_data.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [0]:
y = home_data.SalePrice

In [0]:
feature_names = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF",
                      "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]
X=home_data[feature_names]

In [193]:
print(X)

      LotArea  YearBuilt  1stFlrSF  ...  FullBath  BedroomAbvGr  TotRmsAbvGrd
0        8450       2003       856  ...         2             3             8
1        9600       1976      1262  ...         2             3             6
2       11250       2001       920  ...         2             3             6
3        9550       1915       961  ...         1             3             7
4       14260       2000      1145  ...         2             4             9
5       14115       1993       796  ...         1             1             5
6       10084       2004      1694  ...         2             3             7
7       10382       1973      1107  ...         2             3             7
8        6120       1931      1022  ...         2             2             8
9        7420       1939      1077  ...         1             2             5
10      11200       1965      1040  ...         1             3             5
11      11924       2005      1182  ...         3             4            11
12      12968       1962       912  ...         1             2             4
13      10652       2006      1494  ...         2             3             7
14      10920       1960      1253  ...         1             2             5
15       6120       1929       854  ...         1             2             5
16      11241       1970      1004  ...         1             2             5
17      10791       1967      1296  ...         2             2             6
18      13695       2004      1114  ...         1             3             6
19       7560       1958      1339  ...         1             3             6
20      14215       2005      1158  ...         3             4             9
21       7449       1930      1108  ...         1             3             6
22       9742       2002      1795  ...         2             3             7
23       4224       1976      1060  ...         1             3             6
24       8246       1968      1060  ...         1             3             6
25      14230       2007      1600  ...         2             3             7
26       7200       1951       900  ...         1             3             5
27      11478       2007      1704  ...         2             3             7
28      16321       1957      1600  ...         1             2             6
29       6324       1927       520  ...         1             1             4
...       ...        ...       ...  ...       ...           ...           ...
1430    21930       2005       734  ...         2             4             7
1431     4928       1976       958  ...         2             2             5
1432    10800       1927       968  ...         2             4             5
1433    10261       2000       962  ...         2             3             8
1434    17400       1977      1126  ...         2             3             5
1435     8400       1962      1537  ...         1             3             7
1436     9000       1971       864  ...         1             3             5
1437    12444       2008      1932  ...         2             2             7
1438     7407       1957      1236  ...         1             2             6
1439    11584       1979      1040  ...         2             3             6
1440    11526       1922      1423  ...         2             3            11
1441     4426       2004       848  ...         1             1             3
1442    11003       2008      1026  ...         2             3            10
1443     8854       1916       952  ...         1             2             4
1444     8500       2004      1422  ...         2             3             7
1445     8400       1966       913  ...         1             3             6
1446    26142       1962      1188  ...         1             3             6
1447    10000       1995      1220  ...         2             3             8
1448    11767       1910       796  ...         1             2             6
1449     1533       1970       630  ...         1             1             3
1450     9000       1974       896  ...         2             4             8
1451     9262       2008      1578  ...         2             3             7
1452     3675       2005      1072  ...         1             2             5
1453    17217       2006      1140  ...         1             3             6
1454     7500       2004      1221  ...         2             2             6
1455     7917       1999       953  ...         2             3             7
1456    13175       1978      2073  ...         2             3             7
1457     9042       1941      1188  ...         2             4             9
1458     9717       1950      1078  ...         1             2             5
1459     9937       1965      1256  ...         1             3             6

[1460 rows x 7 columns]

In [194]:
iowa_model = 7


from sklearn.tree import DecisionTreeRegressor
iowa_model = DecisionTreeRegressor(random_state=1)
iowa_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [195]:
predictions = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [196]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

# Path of the file to read
url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'
# Fill in the line below to read the file into a variable home_data
home_data = pd.read_csv(url)

y = home_data.SalePrice
feature_columns = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = home_data[feature_columns]

# Specify Model
iowa_model = DecisionTreeRegressor()
# Fit Model
iowa_model.fit(X, y)
predictions = iowa_model.predict(X)
print(predictions)


print("First in-sample predictions:", iowa_model.predict(X.head()))
print("Actual target values for those homes:", y.head().tolist())

[208500. 181500. 223500. ... 266500. 142125. 147500.]
First in-sample predictions: [208500. 181500. 223500. 140000. 250000.]
Actual target values for those homes: [208500, 181500, 223500, 140000, 250000]

In [197]:


from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)


iowa_model = DecisionTreeRegressor(random_state=1)
iowa_model.fit(train_X, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [0]:
val_predictions = iowa_model.predict(val_X)

In [199]:
from sklearn.metrics import mean_absolute_error
val_mae = mean_absolute_error(val_predictions, val_y)
# uncomment following line to see the validation_mae
print(val_mae)

29652.931506849316

In [0]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [0]:
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]
# Write loop to find the ideal tree size from candidate_max_leaf_nodes
_
scores = {leaf_size: get_mae(leaf_size, train_X, val_X, train_y, val_y) for leaf_size in candidate_max_leaf_nodes}
best_tree_size = min(scores, key=scores.get)

In [202]:


# Fit the model with best_tree_size. Fill in argument to make optimal size
final_model = DecisionTreeRegressor(max_leaf_nodes=best_tree_size, random_state=1)

# fit the final model
final_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=100, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [203]:
val_predictions = iowa_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

Validation MAE for best value of max_leaf_nodes: 29,653

In [204]:
from sklearn.ensemble import RandomForestRegressor

# Using best value for max_leaf_nodes
iowa_model = DecisionTreeRegressor(max_leaf_nodes=100, random_state=1)
iowa_model.fit(train_X, train_y)
val_predictions = iowa_model.predict(val_X)
val_mae = mean_absolute_error(val_predictions, val_y)
print("Validation MAE for best value of max_leaf_nodes: {:,.0f}".format(val_mae))

# Define the model. Set random_state to 1
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(train_X, train_y)
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)

print("Validation MAE for Random Forest Model: {:,.0f}".format(rf_val_mae))

Validation MAE for best value of max_leaf_nodes: 27,283
Validation MAE for Random Forest Model: 22,762

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [205]:
# In previous code cell
rf_model_on_full_data = RandomForestRegressor()
rf_model_on_full_data.fit(X, y)

# Then in last code cell
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
test_data = pd.read_csv(test_data_path)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [206]:
test_data.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [0]:
features = ["LotArea", "YearBuilt", "1stFlrSF", "2ndFlrSF",
                      "FullBath", "BedroomAbvGr", "TotRmsAbvGrd"]

In [0]:

test_X = test_data[features]
test_preds = rf_model_on_full_data.predict(test_X)


output = pd.DataFrame({'Id': test_data.Id,
                       'SalePrice': test_preds})
output.to_csv('submission.csv', index=False)

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'
# Fill in the line below to read the file into a variable home_data
X_full = pd.read_csv(url)
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
X_test_full = pd.read_csv(test_data_path)


# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [210]:
X_train.head()

      Id  MSSubClass  LotFrontage  LotArea  ...  PoolArea  MiscVal  MoSold  YrSold
618  619          20         90.0    11694  ...         0        0       7    2007
870  871          20         60.0     6600  ...         0        0       8    2009
92    93          30         80.0    13360  ...         0        0       8    2009
817  818          20          NaN    13265  ...         0        0       7    2008
302  303          20        118.0    13704  ...         0        0       1    2006

[5 rows x 37 columns]

In [0]:
from sklearn.ensemble import RandomForestRegressor

# Define the models
model_1 = RandomForestRegressor(n_estimators=500, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion='mae', random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [212]:


# Get names of columns with missing values
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

# Drop columns in training and validation data
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

print("MAE (Drop columns with missing values):")
print(reduced_X_train, reduced_X_valid, y_train, y_valid)

MAE (Drop columns with missing values):
        Id  MSSubClass  LotArea  OverallQual  ...  PoolArea  MiscVal  MoSold  YrSold
618    619          20    11694            9  ...         0        0       7    2007
870    871          20     6600            5  ...         0        0       8    2009
92      93          30    13360            5  ...         0        0       8    2009
817    818          20    13265            8  ...         0        0       7    2008
302    303          20    13704            7  ...         0        0       1    2006
1454  1455          20     7500            7  ...         0        0      10    2009
40      41          20     8658            6  ...         0        0      12    2006
959    960         160     2572            7  ...         0        0       5    2010
75      76         180     1596            4  ...         0        0      11    2009
1389  1390          50     6000            6  ...         0        0       3    2007
1254  1255          60     6931            7  ...         0        0       7    2008
689    690         120     7577            6  ...         0        0       6    2007
648    649          60     7700            6  ...         0        0       6    2010
247    248          20    11310            6  ...         0        0       6    2006
1308  1309          20    12000            5  ...         0        0       5    2008
1164  1165          80    16157            5  ...         0        0       6    2007
708    709          60     9018            7  ...         0        0       7    2007
186    187          80     9947            7  ...         0        0       6    2009
156    157          20     7200            5  ...         0        0       6    2006
914    915         160     3000            6  ...         0        0       6    2009
8        9          50     6120            7  ...         0        0       4    2008
390    391          50     8405            5  ...         0        0       4    2008
1333  1334          50     7200            5  ...         0        0       7    2006
1441  1442         120     4426            6  ...         0        0       5    2008
619    620          60    12244            8  ...         0        0       8    2008
771    772          20     8877            4  ...         0        0       4    2006
465    466         120     3072            7  ...         0        0       5    2006
1248  1249          75     9600            6  ...         0        0       4    2008
431    432          50     5586            6  ...         0        0       9    2008
1288  1289         120     5664            8  ...         0        0      10    2009
...    ...         ...      ...          ...  ...       ...      ...     ...     ...
1435  1436          20     8400            6  ...         0        0       7    2008
1201  1202          60    10400            7  ...         0        0       3    2009
99     100          20     9320            4  ...         0      400       1    2010
850    851         120     4435            6  ...         0        0      11    2007
448    449          50     8600            6  ...         0        0       6    2006
755    756         160     3230            6  ...         0        0       3    2009
976    977          30     5900            4  ...         0        0       8    2006
115    116         160     3230            6  ...         0        0       6    2007
777    778          20    13350            5  ...         0        0       6    2006
72      73          60    10141            7  ...         0        0      12    2009
845    846          85    16647            5  ...         0        0       1    2007
537    538          20    12735            4  ...         0        0       4    2008
849    850          80     9600            6  ...         0        0       8    2007
174    175          20    12416            6  ...         0        0      11    2008
87      88         160     3951            6  ...         0        0       6    2009
551    552          20     6000            5  ...         0        0       6    2008
705    706         190     5600            4  ...         0     3500       7    2010
314    315          70     9600            7  ...         0        0       8    2006
1420  1421          60    11700            6  ...         0        0       5    2006
600    601          60    10927            8  ...         0        0       6    2006
1094  1095          20     5868            5  ...         0        0       5    2010
599    600         160     1950            6  ...         0        0       7    2008
277    278          20    19138            4  ...         0        0       6    2010
1033  1034          20     8125            7  ...         0        0       2    2006
1383  1384          30    25339            5  ...         0        0       8    2007
763    764          60     9430            8  ...         0        0       7    2009
835    836          20     9600            4  ...         0        0       2    2010
1216  1217          90     8930            6  ...         0        0       4    2010
559    560         120     3196            7  ...         0        0      10    2006
684    685          60    16770            7  ...         0        0       6    2010

[1168 rows x 34 columns]         Id  MSSubClass  LotArea  OverallQual  ...  PoolArea  MiscVal  MoSold  YrSold
529    530          20    32668            6  ...         0        0       3    2007
491    492          50     9490            6  ...         0        0       8    2006
459    460          50     7015            5  ...         0        0       7    2009
279    280          60    10005            7  ...         0        0       3    2008
655    656         160     1680            6  ...         0        0       3    2010
1013  1014          30     7200            5  ...         0        0       6    2009
1403  1404          20    15256            8  ...         0        0       8    2007
601    602          50     9000            6  ...         0        0      12    2007
1182  1183          60    15623           10  ...       555        0       7    2007
687    688         160     5105            7  ...         0        0       3    2007
1317  1318         120     4230            7  ...         0        0       4    2007
1003  1004          90    11500            5  ...         0        0       6    2007
1300  1301          60    10762            7  ...         0        0       5    2009
1392  1393          85     7838            5  ...         0        0      12    2006
1014  1015          20    11664            6  ...         0        0      11    2007
254    255          20     8400            5  ...         0        0       6    2010
1322  1323          60    10186            7  ...         0        0       6    2010
89      90          20     8070            4  ...         0        0       8    2007
31      32          20     8544            5  ...         0        0       6    2008
482    483          70     2500            7  ...         0        0       6    2009
142    143          50     8520            5  ...         0        0       6    2010
811    812         120     4438            6  ...         0        0       6    2008
52      53          90     8472            5  ...         0        0       5    2010
857    858          60     8125            6  ...         0        0       3    2009
1159  1160          60     9120            6  ...         0        0       7    2008
991    992          70    17671            8  ...         0        0      11    2009
1358  1359         160     2117            6  ...         0        0       6    2010
649    650         180     1936            4  ...         0        0      12    2007
724    725          20    13286            9  ...         0        0       2    2009
575    576          50     8480            5  ...         0        0      10    2008
...    ...         ...      ...          ...  ...       ...      ...     ...     ...
579    580          50    12150            5  ...         0        0      11    2008
520    521         190    10800            4  ...         0        0       8    2008
825    826          20    14803           10  ...         0        0       6    2008
644    645          20     9187            9  ...         0        0      10    2009
642    643          80    13860            8  ...         0        0       7    2009
29      30          30     6324            4  ...         0        0       5    2008
907    908          50    11500            7  ...         0        0       6    2006
1166  1167          20    10475            8  ...         0        0       2    2010
1192  1193          50     9600            5  ...         0        0       7    2007
519    520          70    10918            7  ...         0        0       6    2009
361    362          50     9144            5  ...         0        0       7    2008
124    125          20    17043            6  ...         0        0       1    2009
198    199          75     5520            6  ...         0        0       7    2009
787    788          60    10142            7  ...         0        0       1    2010
1211  1212          50    12134            8  ...         0        0       6    2010
1075  1076          70    13125            7  ...         0        0       7    2007
1237  1238          60    12393            7  ...         0        0       9    2006
557    558          50    11040            4  ...         0        0       9    2006
303    304          20     9800            5  ...         0        0       7    2006
1359  1360          20    16737            9  ...         0        0       9    2006
1301  1302          70     7500            6  ...         0        0      11    2009
1427  1428          50    10930            5  ...         0        0       4    2008
1402  1403          20     6762            7  ...         0        0       7    2006
1223  1224          20    10680            5  ...         0        0      10    2006
1029  1030         160     1680            6  ...         0        0       5    2006
326    327         120    10846            8  ...         0        0       5    2008
440    441          20    15431           10  ...         0        0       4    2009
1387  1388          50     8520            6  ...         0        0       8    2007
1323  1324          30     5330            4  ...         0        0      12    2009
61      62          75     7200            5  ...         0        0       3    2007

[292 rows x 34 columns] 618     314813
870     109500
92      163500
817     271000
302     205000
1454    185000
40      160000
959     155000
75       91000
1389    131000
1254    165400
689     194700
648     155000
247     140000
1308    147000
1164    194000
708     179540
186     173000
156     109500
914     173733
8       129900
390     119000
1333    125500
1441    149300
619     305000
771     102000
465     178740
1248    129500
431      79900
1288    278000
         ...
1435    174000
1201    197900
99      128950
850     131500
448     119500
755     172500
976      85500
115     176000
777     142500
72      185000
845     171000
537     111250
849     187000
174     184000
87      164500
551     112500
705      55000
314     178000
1420    179900
600     275000
1094    129000
599     151000
277     141000
1033    230000
1383    112000
763     337000
835     128000
1216    112000
559     234000
684     221000
Name: SalePrice, Length: 1168, dtype: int64 529     200624
491     133000
459     110000
279     192000
655      88000
1013     85000
1403    282922
601     141000
1182    745000
687     148800
1317    208900
1003    136905
1300    225000
1392    123000
1014    119200
254     145000
1322    190000
89      123600
31      149350
482     155000
142     166000
811     144500
52      110000
857     174000
1159    185000
991     168000
1358    177500
649      84500
724     320000
575     118500
         ...
579     131500
520     106250
825     385000
644     370878
642     345000
29       68500
907     250000
1166    245350
1192    125000
519     234000
361     145000
124     181000
198     104000
787     233000
1211    164000
1075    219500
1237    195000
557     108000
303     149900
1359    315000
1301    177500
1427    140000
1402    193879
1223    137900
1029    118000
326     324000
440     555000
1387    136000
1323     82500
61      101000
Name: SalePrice, Length: 292, dtype: int64

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'


X_full = pd.read_csv(url, index_col='Id')
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
X_test_full = pd.read_csv(test_data_path)


# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [214]:
X_train.head()

     MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                     ...
619          20         90.0    11694  ...        0       7    2007
871          20         60.0     6600  ...        0       8    2009
93           30         80.0    13360  ...        0       8    2009
818          20          NaN    13265  ...        0       7    2008
303          20        118.0    13704  ...        0       1    2006

[5 rows x 36 columns]

In [215]:
# Shape of training data (num_rows, num_columns)
print(X_train.shape)

# Number of missing values in each column of training data
missing_val_count_by_column = (X_train.isnull().sum())
print(missing_val_count_by_column[missing_val_count_by_column > 0])

(1168, 36)
LotFrontage    212
MasVnrArea       6
GarageYrBlt     58
dtype: int64

In [0]:
# How many rows are in the training data?
num_rows = 1168

# How many columns in the training data have missing values?
num_cols_with_missing = 3

# How many missing entries are contained in all of the training data?
tot_missing = 212 + 6 + 58

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [0]:
# Get names of columns with missing values
cols_with_missing = [col for col in X_train.columns
                     if X_train[col].isnull().any()]

# Drop columns in training and validation data
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_valid = X_valid.drop(cols_with_missing, axis=1)

In [219]:

print("MAE (Drop columns with missing values):")
print(score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid))

MAE (Drop columns with missing values):
17837.82570776256

In [0]:
from sklearn.impute import SimpleImputer


my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

# Imputation removed column names; put them back
imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

In [221]:
print("MAE (Imputation):")
print(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

MAE (Imputation):
18062.894611872147

In [0]:
final_imputer = SimpleImputer(strategy='median')
final_X_train = pd.DataFrame(final_imputer.fit_transform(X_train))
final_X_valid = pd.DataFrame(final_imputer.transform(X_valid))

# Imputation removed column names; put them back
final_X_train.columns = X_train.columns
final_X_valid.columns = X_valid.columns

In [223]:
# Define and fit model
model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(final_X_train, y_train)

# Get validation predictions and MAE
preds_valid = model.predict(final_X_valid)
print("MAE (Your appraoch):")
print(mean_absolute_error(y_valid, preds_valid))

MAE (Your appraoch):
17791.59899543379

In [224]:


model = RandomForestRegressor(n_estimators=100, random_state=0)
model.fit(final_X_train, y_train)

# Get validation predictions and MAE
preds_valid = model.predict(final_X_valid)
print("MAE (Your appraoch):")
print(mean_absolute_error(y_valid, preds_valid))

MAE (Your appraoch):
17791.59899543379

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'


X_full = pd.read_csv(url, index_col='Id')
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
X_test_full = pd.read_csv(test_data_path)


# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split

url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'


X_full = pd.read_csv(url, index_col='Id')
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
X_test_full = pd.read_csv(test_data_path)


# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# To keep things simple, we'll use only numerical predictors
X = X_full.select_dtypes(exclude=['object'])
X_test = X_test_full.select_dtypes(exclude=['object'])

# Break off validation set from training data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                      random_state=0)

In [227]:
X_train.head()

     MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                     ...
619          20         90.0    11694  ...        0       7    2007
871          20         60.0     6600  ...        0       8    2009
93           30         80.0    13360  ...        0       8    2009
818          20          NaN    13265  ...        0       7    2008
303          20        118.0    13704  ...        0       1    2006

[5 rows x 36 columns]

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [0]:

drop_X_train = X_train.select_dtypes(exclude=['object'])
drop_X_valid = X_valid.select_dtypes(exclude=['object'])

In [230]:
print("MAE from Approach 1 (Drop categorical variables):")
print(drop_X_train, drop_X_valid, y_train, y_valid)

MAE from Approach 1 (Drop categorical variables):
      MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                      ...
619           20         90.0    11694  ...        0       7    2007
871           20         60.0     6600  ...        0       8    2009
93            30         80.0    13360  ...        0       8    2009
818           20          NaN    13265  ...        0       7    2008
303           20        118.0    13704  ...        0       1    2006
1455          20         62.0     7500  ...        0      10    2009
41            20         84.0     8658  ...        0      12    2006
960          160         24.0     2572  ...        0       5    2010
76           180         21.0     1596  ...        0      11    2009
1390          50         60.0     6000  ...        0       3    2007
1255          60         60.0     6931  ...        0       7    2008
690          120         61.0     7577  ...        0       6    2007
649           60         70.0     7700  ...        0       6    2010
248           20         75.0    11310  ...        0       6    2006
1309          20        100.0    12000  ...        0       5    2008
1165          80          NaN    16157  ...        0       6    2007
709           60         65.0     9018  ...        0       7    2007
187           80          NaN     9947  ...        0       6    2009
157           20         60.0     7200  ...        0       6    2006
915          160         30.0     3000  ...        0       6    2009
9             50         51.0     6120  ...        0       4    2008
391           50         50.0     8405  ...        0       4    2008
1334          50         60.0     7200  ...        0       7    2006
1442         120          NaN     4426  ...        0       5    2008
620           60         85.0    12244  ...        0       8    2008
772           20         67.0     8877  ...        0       4    2006
466          120          NaN     3072  ...        0       5    2006
1249          75         60.0     9600  ...        0       4    2008
432           50         60.0     5586  ...        0       9    2008
1289         120         40.0     5664  ...        0      10    2009
...          ...          ...      ...  ...      ...     ...     ...
1436          20         80.0     8400  ...        0       7    2008
1202          60         80.0    10400  ...        0       3    2009
100           20         77.0     9320  ...      400       1    2010
851          120         36.0     4435  ...        0      11    2007
449           50         50.0     8600  ...        0       6    2006
756          160         34.0     3230  ...        0       3    2009
977           30         51.0     5900  ...        0       8    2006
116          160         34.0     3230  ...        0       6    2007
778           20        100.0    13350  ...        0       6    2006
73            60         74.0    10141  ...        0      12    2009
846           85          NaN    16647  ...        0       1    2007
538           20          NaN    12735  ...        0       4    2008
850           80         80.0     9600  ...        0       8    2007
175           20         47.0    12416  ...        0      11    2008
88           160         40.0     3951  ...        0       6    2009
552           20         50.0     6000  ...        0       6    2008
706          190         70.0     5600  ...     3500       7    2010
315           70         60.0     9600  ...        0       8    2006
1421          60         90.0    11700  ...        0       5    2006
601           60         74.0    10927  ...        0       6    2006
1095          20         74.0     5868  ...        0       5    2010
600          160         24.0     1950  ...        0       7    2008
278           20        140.0    19138  ...        0       6    2010
1034          20          NaN     8125  ...        0       2    2006
1384          30          NaN    25339  ...        0       8    2007
764           60         82.0     9430  ...        0       7    2009
836           20         60.0     9600  ...        0       2    2010
1217          90         68.0     8930  ...        0       4    2010
560          120          NaN     3196  ...        0      10    2006
685           60         58.0    16770  ...        0       6    2010

[1168 rows x 36 columns]       MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                      ...
530           20          NaN    32668  ...        0       3    2007
492           50         79.0     9490  ...        0       8    2006
460           50          NaN     7015  ...        0       7    2009
280           60         83.0    10005  ...        0       3    2008
656          160         21.0     1680  ...        0       3    2010
1014          30         60.0     7200  ...        0       6    2009
1404          20         49.0    15256  ...        0       8    2007
602           50         50.0     9000  ...        0      12    2007
1183          60        160.0    15623  ...        0       7    2007
688          160          NaN     5105  ...        0       3    2007
1318         120         47.0     4230  ...        0       4    2007
1004          90          NaN    11500  ...        0       6    2007
1301          60          NaN    10762  ...        0       5    2009
1393          85         68.0     7838  ...        0      12    2006
1015          20         60.0    11664  ...        0      11    2007
255           20         70.0     8400  ...        0       6    2010
1323          60        107.0    10186  ...        0       6    2010
90            20         60.0     8070  ...        0       8    2007
32            20          NaN     8544  ...        0       6    2008
483           70         50.0     2500  ...        0       6    2009
143           50         71.0     8520  ...        0       6    2010
812          120          NaN     4438  ...        0       6    2008
53            90        110.0     8472  ...        0       5    2010
858           60         65.0     8125  ...        0       3    2009
1160          60         76.0     9120  ...        0       7    2008
992           70        121.0    17671  ...        0      11    2009
1359         160          NaN     2117  ...        0       6    2010
650          180         21.0     1936  ...        0      12    2007
725           20         86.0    13286  ...        0       2    2009
576           50         80.0     8480  ...        0      10    2008
...          ...          ...      ...  ...      ...     ...     ...
580           50         81.0    12150  ...        0      11    2008
521          190         60.0    10800  ...        0       8    2008
826           20        114.0    14803  ...        0       6    2008
645           20         85.0     9187  ...        0      10    2009
643           80         75.0    13860  ...        0       7    2009
30            30         60.0     6324  ...        0       5    2008
908           50         86.0    11500  ...        0       6    2006
1167          20         64.0    10475  ...        0       2    2010
1193          50         60.0     9600  ...        0       7    2007
520           70         53.0    10918  ...        0       6    2009
362           50          NaN     9144  ...        0       7    2008
125           20         48.0    17043  ...        0       1    2009
199           75         92.0     5520  ...        0       7    2009
788           60         76.0    10142  ...        0       1    2010
1212          50        152.0    12134  ...        0       6    2010
1076          70         75.0    13125  ...        0       7    2007
1238          60         41.0    12393  ...        0       9    2006
558           50         60.0    11040  ...        0       9    2006
304           20         70.0     9800  ...        0       7    2006
1360          20        129.0    16737  ...        0       9    2006
1302          70          NaN     7500  ...        0      11    2009
1428          50         60.0    10930  ...        0       4    2008
1403          20         64.0     6762  ...        0       7    2006
1224          20         89.0    10680  ...        0      10    2006
1030         160         21.0     1680  ...        0       5    2006
327          120         32.0    10846  ...        0       5    2008
441           20        105.0    15431  ...        0       4    2009
1388          50         60.0     8520  ...        0       8    2007
1324          30         50.0     5330  ...        0      12    2009
62            75         60.0     7200  ...        0       3    2007

[292 rows x 36 columns] Id
619     314813
871     109500
93      163500
818     271000
303     205000
1455    185000
41      160000
960     155000
76       91000
1390    131000
1255    165400
690     194700
649     155000
248     140000
1309    147000
1165    194000
709     179540
187     173000
157     109500
915     173733
9       129900
391     119000
1334    125500
1442    149300
620     305000
772     102000
466     178740
1249    129500
432      79900
1289    278000
         ...
1436    174000
1202    197900
100     128950
851     131500
449     119500
756     172500
977      85500
116     176000
778     142500
73      185000
846     171000
538     111250
850     187000
175     184000
88      164500
552     112500
706      55000
315     178000
1421    179900
601     275000
1095    129000
600     151000
278     141000
1034    230000
1384    112000
764     337000
836     128000
1217    112000
560     234000
685     221000
Name: SalePrice, Length: 1168, dtype: int64 Id
530     200624
492     133000
460     110000
280     192000
656      88000
1014     85000
1404    282922
602     141000
1183    745000
688     148800
1318    208900
1004    136905
1301    225000
1393    123000
1015    119200
255     145000
1323    190000
90      123600
32      149350
483     155000
143     166000
812     144500
53      110000
858     174000
1160    185000
992     168000
1359    177500
650      84500
725     320000
576     118500
         ...
580     131500
521     106250
826     385000
645     370878
643     345000
30       68500
908     250000
1167    245350
1193    125000
520     234000
362     145000
125     181000
199     104000
788     233000
1212    164000
1076    219500
1238    195000
558     108000
304     149900
1360    315000
1302    177500
1428    140000
1403    193879
1224    137900
1030    118000
327     324000
441     555000
1388    136000
1324     82500
62      101000
Name: SalePrice, Length: 292, dtype: int64

In [231]:
# All categorical columns
object_cols = [col for col in X_train.columns if X_train[col].dtype == "object"]

# Columns that can be safely label encoded
good_label_cols = [col for col in object_cols if 
                   set(X_train[col]) == set(X_valid[col])]
        
# Problematic columns that will be dropped from the dataset
bad_label_cols = list(set(object_cols)-set(good_label_cols))
        
print('Categorical columns that will be label encoded:', good_label_cols)
print('\nCategorical columns that will be dropped from the dataset:', bad_label_cols)

Categorical columns that will be label encoded: []

Categorical columns that will be dropped from the dataset: []

In [232]:
# Get number of unique entries in each column with categorical data
object_nunique = list(map(lambda col: X_train[col].nunique(), object_cols))
d = dict(zip(object_cols, object_nunique))

# Print number of unique entries by column, in ascending order
sorted(d.items(), key=lambda x: x[1])

[]

In [0]:
from sklearn.preprocessing import LabelEncoder

# Drop categorical columns that will not be encoded
label_X_train = X_train.drop(bad_label_cols, axis=1)
label_X_valid = X_valid.drop(bad_label_cols, axis=1)

# Apply label encoder
label_encoder = LabelEncoder()
for col in set(good_label_cols):
    label_X_train[col] = label_encoder.fit_transform(X_train[col])
    label_X_valid[col] = label_encoder.transform(X_valid[col])

In [234]:
print("MAE from Approach 2 (Label Encoding):") 
print(label_X_train, label_X_valid, y_train, y_valid)

MAE from Approach 2 (Label Encoding):
      MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                      ...
619           20         90.0    11694  ...        0       7    2007
871           20         60.0     6600  ...        0       8    2009
93            30         80.0    13360  ...        0       8    2009
818           20          NaN    13265  ...        0       7    2008
303           20        118.0    13704  ...        0       1    2006
1455          20         62.0     7500  ...        0      10    2009
41            20         84.0     8658  ...        0      12    2006
960          160         24.0     2572  ...        0       5    2010
76           180         21.0     1596  ...        0      11    2009
1390          50         60.0     6000  ...        0       3    2007
1255          60         60.0     6931  ...        0       7    2008
690          120         61.0     7577  ...        0       6    2007
649           60         70.0     7700  ...        0       6    2010
248           20         75.0    11310  ...        0       6    2006
1309          20        100.0    12000  ...        0       5    2008
1165          80          NaN    16157  ...        0       6    2007
709           60         65.0     9018  ...        0       7    2007
187           80          NaN     9947  ...        0       6    2009
157           20         60.0     7200  ...        0       6    2006
915          160         30.0     3000  ...        0       6    2009
9             50         51.0     6120  ...        0       4    2008
391           50         50.0     8405  ...        0       4    2008
1334          50         60.0     7200  ...        0       7    2006
1442         120          NaN     4426  ...        0       5    2008
620           60         85.0    12244  ...        0       8    2008
772           20         67.0     8877  ...        0       4    2006
466          120          NaN     3072  ...        0       5    2006
1249          75         60.0     9600  ...        0       4    2008
432           50         60.0     5586  ...        0       9    2008
1289         120         40.0     5664  ...        0      10    2009
...          ...          ...      ...  ...      ...     ...     ...
1436          20         80.0     8400  ...        0       7    2008
1202          60         80.0    10400  ...        0       3    2009
100           20         77.0     9320  ...      400       1    2010
851          120         36.0     4435  ...        0      11    2007
449           50         50.0     8600  ...        0       6    2006
756          160         34.0     3230  ...        0       3    2009
977           30         51.0     5900  ...        0       8    2006
116          160         34.0     3230  ...        0       6    2007
778           20        100.0    13350  ...        0       6    2006
73            60         74.0    10141  ...        0      12    2009
846           85          NaN    16647  ...        0       1    2007
538           20          NaN    12735  ...        0       4    2008
850           80         80.0     9600  ...        0       8    2007
175           20         47.0    12416  ...        0      11    2008
88           160         40.0     3951  ...        0       6    2009
552           20         50.0     6000  ...        0       6    2008
706          190         70.0     5600  ...     3500       7    2010
315           70         60.0     9600  ...        0       8    2006
1421          60         90.0    11700  ...        0       5    2006
601           60         74.0    10927  ...        0       6    2006
1095          20         74.0     5868  ...        0       5    2010
600          160         24.0     1950  ...        0       7    2008
278           20        140.0    19138  ...        0       6    2010
1034          20          NaN     8125  ...        0       2    2006
1384          30          NaN    25339  ...        0       8    2007
764           60         82.0     9430  ...        0       7    2009
836           20         60.0     9600  ...        0       2    2010
1217          90         68.0     8930  ...        0       4    2010
560          120          NaN     3196  ...        0      10    2006
685           60         58.0    16770  ...        0       6    2010

[1168 rows x 36 columns]       MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                      ...
530           20          NaN    32668  ...        0       3    2007
492           50         79.0     9490  ...        0       8    2006
460           50          NaN     7015  ...        0       7    2009
280           60         83.0    10005  ...        0       3    2008
656          160         21.0     1680  ...        0       3    2010
1014          30         60.0     7200  ...        0       6    2009
1404          20         49.0    15256  ...        0       8    2007
602           50         50.0     9000  ...        0      12    2007
1183          60        160.0    15623  ...        0       7    2007
688          160          NaN     5105  ...        0       3    2007
1318         120         47.0     4230  ...        0       4    2007
1004          90          NaN    11500  ...        0       6    2007
1301          60          NaN    10762  ...        0       5    2009
1393          85         68.0     7838  ...        0      12    2006
1015          20         60.0    11664  ...        0      11    2007
255           20         70.0     8400  ...        0       6    2010
1323          60        107.0    10186  ...        0       6    2010
90            20         60.0     8070  ...        0       8    2007
32            20          NaN     8544  ...        0       6    2008
483           70         50.0     2500  ...        0       6    2009
143           50         71.0     8520  ...        0       6    2010
812          120          NaN     4438  ...        0       6    2008
53            90        110.0     8472  ...        0       5    2010
858           60         65.0     8125  ...        0       3    2009
1160          60         76.0     9120  ...        0       7    2008
992           70        121.0    17671  ...        0      11    2009
1359         160          NaN     2117  ...        0       6    2010
650          180         21.0     1936  ...        0      12    2007
725           20         86.0    13286  ...        0       2    2009
576           50         80.0     8480  ...        0      10    2008
...          ...          ...      ...  ...      ...     ...     ...
580           50         81.0    12150  ...        0      11    2008
521          190         60.0    10800  ...        0       8    2008
826           20        114.0    14803  ...        0       6    2008
645           20         85.0     9187  ...        0      10    2009
643           80         75.0    13860  ...        0       7    2009
30            30         60.0     6324  ...        0       5    2008
908           50         86.0    11500  ...        0       6    2006
1167          20         64.0    10475  ...        0       2    2010
1193          50         60.0     9600  ...        0       7    2007
520           70         53.0    10918  ...        0       6    2009
362           50          NaN     9144  ...        0       7    2008
125           20         48.0    17043  ...        0       1    2009
199           75         92.0     5520  ...        0       7    2009
788           60         76.0    10142  ...        0       1    2010
1212          50        152.0    12134  ...        0       6    2010
1076          70         75.0    13125  ...        0       7    2007
1238          60         41.0    12393  ...        0       9    2006
558           50         60.0    11040  ...        0       9    2006
304           20         70.0     9800  ...        0       7    2006
1360          20        129.0    16737  ...        0       9    2006
1302          70          NaN     7500  ...        0      11    2009
1428          50         60.0    10930  ...        0       4    2008
1403          20         64.0     6762  ...        0       7    2006
1224          20         89.0    10680  ...        0      10    2006
1030         160         21.0     1680  ...        0       5    2006
327          120         32.0    10846  ...        0       5    2008
441           20        105.0    15431  ...        0       4    2009
1388          50         60.0     8520  ...        0       8    2007
1324          30         50.0     5330  ...        0      12    2009
62            75         60.0     7200  ...        0       3    2007

[292 rows x 36 columns] Id
619     314813
871     109500
93      163500
818     271000
303     205000
1455    185000
41      160000
960     155000
76       91000
1390    131000
1255    165400
690     194700
649     155000
248     140000
1309    147000
1165    194000
709     179540
187     173000
157     109500
915     173733
9       129900
391     119000
1334    125500
1442    149300
620     305000
772     102000
466     178740
1249    129500
432      79900
1289    278000
         ...
1436    174000
1202    197900
100     128950
851     131500
449     119500
756     172500
977      85500
116     176000
778     142500
73      185000
846     171000
538     111250
850     187000
175     184000
88      164500
552     112500
706      55000
315     178000
1421    179900
601     275000
1095    129000
600     151000
278     141000
1034    230000
1384    112000
764     337000
836     128000
1217    112000
560     234000
685     221000
Name: SalePrice, Length: 1168, dtype: int64 Id
530     200624
492     133000
460     110000
280     192000
656      88000
1014     85000
1404    282922
602     141000
1183    745000
688     148800
1318    208900
1004    136905
1301    225000
1393    123000
1015    119200
255     145000
1323    190000
90      123600
32      149350
483     155000
143     166000
812     144500
53      110000
858     174000
1160    185000
992     168000
1359    177500
650      84500
725     320000
576     118500
         ...
580     131500
521     106250
826     385000
645     370878
643     345000
30       68500
908     250000
1167    245350
1193    125000
520     234000
362     145000
125     181000
199     104000
788     233000
1212    164000
1076    219500
1238    195000
558     108000
304     149900
1360    315000
1302    177500
1428    140000
1403    193879
1224    137900
1030    118000
327     324000
441     555000
1388    136000
1324     82500
62      101000
Name: SalePrice, Length: 292, dtype: int64

In [0]:

# Get number of unique entries in each column with categorical data
object_nunique = list(map(lambda col: X_train[col].nunique(), object_cols))
d = dict(zip(object_cols, object_nunique))

# Print number of unique entries by column, in ascending order
sorted(d.items(), key=lambda x: x[1])
# How many categorical variables in the training data
# have cardinality greater than 10?
high_cardinality_numcols = 3

# How many columns are needed to one-hot encode the
# 'Neighborhood' variable in the training data?
num_cols_neighborhood = 25

In [0]:
# replacing the column with a one-hot encoding?
OH_entries_added = 1e4*100 - 1e4

# How many entries are added to the dataset by
# replacing the column with a label encoding?
label_entries_added = 0

In [237]:
# Columns that will be one-hot encoded
low_cardinality_cols = [col for col in object_cols if X_train[col].nunique() < 10]

# Columns that will be dropped from the dataset
high_cardinality_cols = list(set(object_cols)-set(low_cardinality_cols))

print('Categorical columns that will be one-hot encoded:', low_cardinality_cols)
print('\nCategorical columns that will be dropped from the dataset:', high_cardinality_cols)

Categorical columns that will be one-hot encoded: []

Categorical columns that will be dropped from the dataset: []

In [0]:
from sklearn.preprocessing import OneHotEncoder




# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[low_cardinality_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[low_cardinality_cols]))

# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

In [239]:
print("MAE from Approach 3 (One-Hot Encoding):") 
print(OH_X_train, OH_X_valid, y_train, y_valid)

MAE from Approach 3 (One-Hot Encoding):
      MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                      ...
619           20         90.0    11694  ...        0       7    2007
871           20         60.0     6600  ...        0       8    2009
93            30         80.0    13360  ...        0       8    2009
818           20          NaN    13265  ...        0       7    2008
303           20        118.0    13704  ...        0       1    2006
1455          20         62.0     7500  ...        0      10    2009
41            20         84.0     8658  ...        0      12    2006
960          160         24.0     2572  ...        0       5    2010
76           180         21.0     1596  ...        0      11    2009
1390          50         60.0     6000  ...        0       3    2007
1255          60         60.0     6931  ...        0       7    2008
690          120         61.0     7577  ...        0       6    2007
649           60         70.0     7700  ...        0       6    2010
248           20         75.0    11310  ...        0       6    2006
1309          20        100.0    12000  ...        0       5    2008
1165          80          NaN    16157  ...        0       6    2007
709           60         65.0     9018  ...        0       7    2007
187           80          NaN     9947  ...        0       6    2009
157           20         60.0     7200  ...        0       6    2006
915          160         30.0     3000  ...        0       6    2009
9             50         51.0     6120  ...        0       4    2008
391           50         50.0     8405  ...        0       4    2008
1334          50         60.0     7200  ...        0       7    2006
1442         120          NaN     4426  ...        0       5    2008
620           60         85.0    12244  ...        0       8    2008
772           20         67.0     8877  ...        0       4    2006
466          120          NaN     3072  ...        0       5    2006
1249          75         60.0     9600  ...        0       4    2008
432           50         60.0     5586  ...        0       9    2008
1289         120         40.0     5664  ...        0      10    2009
...          ...          ...      ...  ...      ...     ...     ...
1436          20         80.0     8400  ...        0       7    2008
1202          60         80.0    10400  ...        0       3    2009
100           20         77.0     9320  ...      400       1    2010
851          120         36.0     4435  ...        0      11    2007
449           50         50.0     8600  ...        0       6    2006
756          160         34.0     3230  ...        0       3    2009
977           30         51.0     5900  ...        0       8    2006
116          160         34.0     3230  ...        0       6    2007
778           20        100.0    13350  ...        0       6    2006
73            60         74.0    10141  ...        0      12    2009
846           85          NaN    16647  ...        0       1    2007
538           20          NaN    12735  ...        0       4    2008
850           80         80.0     9600  ...        0       8    2007
175           20         47.0    12416  ...        0      11    2008
88           160         40.0     3951  ...        0       6    2009
552           20         50.0     6000  ...        0       6    2008
706          190         70.0     5600  ...     3500       7    2010
315           70         60.0     9600  ...        0       8    2006
1421          60         90.0    11700  ...        0       5    2006
601           60         74.0    10927  ...        0       6    2006
1095          20         74.0     5868  ...        0       5    2010
600          160         24.0     1950  ...        0       7    2008
278           20        140.0    19138  ...        0       6    2010
1034          20          NaN     8125  ...        0       2    2006
1384          30          NaN    25339  ...        0       8    2007
764           60         82.0     9430  ...        0       7    2009
836           20         60.0     9600  ...        0       2    2010
1217          90         68.0     8930  ...        0       4    2010
560          120          NaN     3196  ...        0      10    2006
685           60         58.0    16770  ...        0       6    2010

[1168 rows x 36 columns]       MSSubClass  LotFrontage  LotArea  ...  MiscVal  MoSold  YrSold
Id                                      ...
530           20          NaN    32668  ...        0       3    2007
492           50         79.0     9490  ...        0       8    2006
460           50          NaN     7015  ...        0       7    2009
280           60         83.0    10005  ...        0       3    2008
656          160         21.0     1680  ...        0       3    2010
1014          30         60.0     7200  ...        0       6    2009
1404          20         49.0    15256  ...        0       8    2007
602           50         50.0     9000  ...        0      12    2007
1183          60        160.0    15623  ...        0       7    2007
688          160          NaN     5105  ...        0       3    2007
1318         120         47.0     4230  ...        0       4    2007
1004          90          NaN    11500  ...        0       6    2007
1301          60          NaN    10762  ...        0       5    2009
1393          85         68.0     7838  ...        0      12    2006
1015          20         60.0    11664  ...        0      11    2007
255           20         70.0     8400  ...        0       6    2010
1323          60        107.0    10186  ...        0       6    2010
90            20         60.0     8070  ...        0       8    2007
32            20          NaN     8544  ...        0       6    2008
483           70         50.0     2500  ...        0       6    2009
143           50         71.0     8520  ...        0       6    2010
812          120          NaN     4438  ...        0       6    2008
53            90        110.0     8472  ...        0       5    2010
858           60         65.0     8125  ...        0       3    2009
1160          60         76.0     9120  ...        0       7    2008
992           70        121.0    17671  ...        0      11    2009
1359         160          NaN     2117  ...        0       6    2010
650          180         21.0     1936  ...        0      12    2007
725           20         86.0    13286  ...        0       2    2009
576           50         80.0     8480  ...        0      10    2008
...          ...          ...      ...  ...      ...     ...     ...
580           50         81.0    12150  ...        0      11    2008
521          190         60.0    10800  ...        0       8    2008
826           20        114.0    14803  ...        0       6    2008
645           20         85.0     9187  ...        0      10    2009
643           80         75.0    13860  ...        0       7    2009
30            30         60.0     6324  ...        0       5    2008
908           50         86.0    11500  ...        0       6    2006
1167          20         64.0    10475  ...        0       2    2010
1193          50         60.0     9600  ...        0       7    2007
520           70         53.0    10918  ...        0       6    2009
362           50          NaN     9144  ...        0       7    2008
125           20         48.0    17043  ...        0       1    2009
199           75         92.0     5520  ...        0       7    2009
788           60         76.0    10142  ...        0       1    2010
1212          50        152.0    12134  ...        0       6    2010
1076          70         75.0    13125  ...        0       7    2007
1238          60         41.0    12393  ...        0       9    2006
558           50         60.0    11040  ...        0       9    2006
304           20         70.0     9800  ...        0       7    2006
1360          20        129.0    16737  ...        0       9    2006
1302          70          NaN     7500  ...        0      11    2009
1428          50         60.0    10930  ...        0       4    2008
1403          20         64.0     6762  ...        0       7    2006
1224          20         89.0    10680  ...        0      10    2006
1030         160         21.0     1680  ...        0       5    2006
327          120         32.0    10846  ...        0       5    2008
441           20        105.0    15431  ...        0       4    2009
1388          50         60.0     8520  ...        0       8    2007
1324          30         50.0     5330  ...        0      12    2009
62            75         60.0     7200  ...        0       3    2007

[292 rows x 36 columns] Id
619     314813
871     109500
93      163500
818     271000
303     205000
1455    185000
41      160000
960     155000
76       91000
1390    131000
1255    165400
690     194700
649     155000
248     140000
1309    147000
1165    194000
709     179540
187     173000
157     109500
915     173733
9       129900
391     119000
1334    125500
1442    149300
620     305000
772     102000
466     178740
1249    129500
432      79900
1289    278000
         ...
1436    174000
1202    197900
100     128950
851     131500
449     119500
756     172500
977      85500
116     176000
778     142500
73      185000
846     171000
538     111250
850     187000
175     184000
88      164500
552     112500
706      55000
315     178000
1421    179900
601     275000
1095    129000
600     151000
278     141000
1034    230000
1384    112000
764     337000
836     128000
1217    112000
560     234000
685     221000
Name: SalePrice, Length: 1168, dtype: int64 Id
530     200624
492     133000
460     110000
280     192000
656      88000
1014     85000
1404    282922
602     141000
1183    745000
688     148800
1318    208900
1004    136905
1301    225000
1393    123000
1015    119200
255     145000
1323    190000
90      123600
32      149350
483     155000
143     166000
812     144500
53      110000
858     174000
1160    185000
992     168000
1359    177500
650      84500
725     320000
576     118500
         ...
580     131500
521     106250
826     385000
645     370878
643     345000
30       68500
908     250000
1167    245350
1193    125000
520     234000
362     145000
125     181000
199     104000
788     233000
1212    164000
1076    219500
1238    195000
558     108000
304     149900
1360    315000
1302    177500
1428    140000
1403    193879
1224    137900
1030    118000
327     324000
441     555000
1388    136000
1324     82500
62      101000
Name: SalePrice, Length: 292, dtype: int64

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split


url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'


X_full = pd.read_csv(url, index_col='Id')
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
X_test_full = pd.read_csv(test_data_path)

# Remove rows with missing target, separate target from predictors
X_full.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = X_full.SalePrice
X_full.drop(['SalePrice'], axis=1, inplace=True)

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X_full, y, 
                                                                train_size=0.8, test_size=0.2,
                                                                random_state=0)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
categorical_cols = [cname for cname in X_train_full.columns if
                    X_train_full[cname].nunique() < 10 and 
                    X_train_full[cname].dtype == "object"]

# Select numerical columns
numerical_cols = [cname for cname in X_train_full.columns if 
                X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

In [241]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Define model
model = RandomForestRegressor(n_estimators=100, random_state=0)

# Bundle preprocessing and modeling code in a pipeline
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('model', model)
                     ])

# Preprocessing of training data, fit model 
clf.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = clf.predict(X_valid)

print('MAE:', mean_absolute_error(y_valid, preds))

MAE: 17861.780102739725

In [0]:


# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Define model
model = RandomForestRegressor(n_estimators=100, random_state=0)

In [243]:
# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(X_valid)

# Evaluate the model
score = mean_absolute_error(y_valid, preds)
print('MAE:', score)

MAE: 17621.3197260274

In [0]:
# Preprocessing of test data, fit model
preds_test = my_pipeline.predict(X_test)

# Save test predictions to file
output = pd.DataFrame({'Id': X_test.index,
                       'SalePrice': preds_test})
output.to_csv('submission.csv', index=False)

In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
# Read the data

url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'

train_data = pd.read_csv(url)
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
test_data = pd.read_csv(test_data_path)

# Remove rows with missing target, separate target from predictors
train_data.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = train_data.SalePrice              
train_data.drop(['SalePrice'], axis=1, inplace=True)

# Select numeric columns only
numeric_cols = [cname for cname in train_data.columns if train_data[cname].dtype in ['int64', 'float64']]
X = train_data[numeric_cols].copy()
X_test = test_data[numeric_cols].copy()

In [246]:
X.head()

   Id  MSSubClass  LotFrontage  LotArea  ...  PoolArea  MiscVal  MoSold  YrSold
0   1          60         65.0     8450  ...         0        0       2    2008
1   2          20         80.0     9600  ...         0        0       5    2007
2   3          60         68.0    11250  ...         0        0       9    2008
3   4          70         60.0     9550  ...         0        0       2    2006
4   5          60         84.0    14260  ...         0        0      12    2008

[5 rows x 37 columns]

In [0]:

from sklearn.ensemble import RandomForestRegressor


from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

my_pipeline = Pipeline(steps=[
    ('preprocessor', SimpleImputer()),
    ('model', RandomForestRegressor(n_estimators=50, random_state=0))
])

In [248]:
from sklearn.model_selection import cross_val_score

# Multiply by -1 since sklearn calculates *negative* MAE
scores = -1 * cross_val_score(my_pipeline, X, y,
                              cv=5,
                              scoring='neg_mean_absolute_error')

print("Average MAE score:", scores.mean())

Average MAE score: 18311.538589041094

In [0]:
def get_score(n_estimators):
    my_pipeline = Pipeline(steps=[
        ('preprocessor', SimpleImputer()),
        ('model', RandomForestRegressor(n_estimators, random_state=0))
    ])
    scores = -1 * cross_val_score(my_pipeline, X, y,
                                  cv=3,
                                  scoring='neg_mean_absolute_error')
    return scores.mean()

In [0]:
results = {}
for i in range(1,9):
    results[50*i] = get_score(50*i)

In [0]:
n_estimators_best = min(results, key=results.get)

In [252]:

import pandas as pd
from sklearn.model_selection import train_test_split
# Read the data

url = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/train(1).csv'

train_data = pd.read_csv(url)
test_data_path = 'https://raw.githubusercontent.com/shanksghub/House-prices-ipynb/master/test.csv'
test_data = pd.read_csv(test_data_path)

# Remove rows with missing target, separate target from predictors
train_data.dropna(axis=0, subset=['SalePrice'], inplace=True)
y = train_data.SalePrice              
train_data.drop(['SalePrice'], axis=1, inplace=True)


# Select numeric columns only
numeric_cols = [cname for cname in train_data.columns if train_data[cname].dtype in ['int64', 'float64']]
X = train_data[numeric_cols].copy()
X_test = test_data[numeric_cols].copy()

# Break off validation set from training data
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

# "Cardinality" means the number of unique values in a column
# Select categorical columns with relatively low cardinality (convenient but arbitrary)
low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Select numeric columns
numeric_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]

# Keep selected columns only
my_cols = low_cardinality_cols + numeric_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()
X_test = X_test_full[my_cols].copy()

# One-hot encode the data (to shorten the code, we use pandas)
X_train = pd.get_dummies(X_train)
X_valid = pd.get_dummies(X_valid)
X_test = pd.get_dummies(X_test)
X_train, X_valid = X_train.align(X_valid, join='left', axis=1)
X_train, X_test = X_train.align(X_test, join='left', axis=1)

from xgboost import XGBRegressor


# Define the model
my_model_1 = XGBRegressor(random_state=0)

# Fit the model
my_model_1.fit(X_train, y_train)


from sklearn.metrics import mean_absolute_error
predictions_1 = my_model_1.predict(X_valid)



# Calculate MAE
mae_1 = mean_absolute_error(predictions_1, y_valid)
print("Mean Absolute Error:" , mae_1)



# Define the model
my_model_2 = XGBRegressor(n_estimators=1000, learning_rate=0.05)

# Fit the model
my_model_2.fit(X_train, y_train)

# Get predictions
predictions_2 = my_model_2.predict(X_valid)

# Calculate MAE
mae_2 = mean_absolute_error(predictions_2, y_valid)
print("Mean Absolute Error:" , mae_2)



# Define the model
my_model_3 = XGBRegressor(n_estimators=1)

# Fit the model
my_model_3.fit(X_train, y_train)

# Get predictions
predictions_3 = my_model_3.predict(X_valid)

# Calculate MAE
mae_3 = mean_absolute_error(predictions_3, y_valid)
print("Mean Absolute Error:" , mae_3)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

[10:57:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean Absolute Error: 17583.85075984589
[10:57:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean Absolute Error: 17228.898223458906
[10:57:32] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean Absolute Error: 163382.59044574058

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \